@model IEnumerable<Tp_Final_1.Models.Comentario>

@{
    ViewData["Title"] = "Index";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.post)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.contenido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.post.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.usuario.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.contenido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecha)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<div>
    <a  class="btn mt-3 btn-outline-secondary" type="button"
         asp-controller="Posts"
        asp-action="Index">Volver a los posts</a>
</div>
